<div class="ui inverted enter aligned segment" style="padding:0;">
      <div class="ui top attached large inverted menu">
        <a class="active item">Featured Binders</a>
        <a class="item">Profile</a>
        <a class="item">Cards</a>
        <div class="right menu">
          <div class="item">
            <div class="ui transparent icon input">
              <input type="text" placeholder="Search.." style="color:white;">
              <i class="search link icon" style="color:white"></i>
            </div>
          </div>
        </div>
      </div>
</div>
