
<div class="ui stackable four column grid container" id="main">
  <div class="column">
    <div class="ui segment">
      <img src='../src/img/binder.jpg'>
      <ul>
        <li>Name</li>
        <li>Price</li>
        <li>Condition</li>
      </ul>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <img src='../src/img/binder.jpg' (click)="showModal()">
      <ul>
        <li>Name</li>
        <li>Price</li>
        <li>Condition</li>
      </ul>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <img src='../src/img/binder.jpg'>
      <ul>
        <li>Name</li>
        <li>Price</li>
        <li>Condition</li>
      </ul>
    </div>
  </div>
  <div class="column">
    <div class="ui segment">
      <img src='../src/img/binder.jpg'>
      <ul>
        <li>Name</li>
        <li>Price</li>
        <li>Condition</li>
      </ul>
    </div>
  </div>
</div>

<div class="ui large basic modal">
  <div class="header" style="black">
    Card Collection
  </div>
  <div class="ui stackable grid container">
    <div class="four wide column" >
      <div class="ui segment">
        <div class="ui fluid image">
        <a class="ui small green ribbon label">$20.00</a>
        <img src='../src/img/binder.jpg'>
      </div>
        <div class="actions">
          <div class="ui large green icon inverted button">
            <i class="cart icon"></i>
          </div>
          <div class="ui large yellow icon inverted button">
            <i class="star icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="four wide column">
      <div class="ui segment">
        <div class="ui fluid image">
        <a class="ui small brown ribbon label">$20.00</a>
        <img src='../src/img/binder.jpg'>
      </div>
        <div class="actions">
          <div class="ui large green icon inverted button">
            <i class="cart icon"></i>
          </div>
          <div class="ui large yellow icon inverted button">
            <i class="star icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="four wide column">
      <div class="ui segment">
        <div class="ui fluid image">
        <a class="ui small teal ribbon label">$20.00</a>
        <img src='../src/img/binder.jpg'>
      </div>
        <div class="actions">
          <div class="ui large green icon inverted button">
            <i class="cart icon"></i>
          </div>
          <div class="ui large yellow icon inverted button">
            <i class="star icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="four wide column">
      <div class="ui segment">
        <div class="ui fluid image">
        <a class="ui small olive ribbon label">$20.00</a>
        <img src='../src/img/binder.jpg'>
      </div>
        <div class="actions">
          <div class="ui large green icon inverted button">
            <i class="cart icon"></i>
          </div>
          <div class="ui large yellow icon inverted button">
            <i class="star icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="four wide column">
      <div class="ui segment">
        <div class="ui fluid image">
        <a class="ui small orange ribbon label">$20.00</a>
        <img src='../src/img/binder.jpg'>
      </div>
        <div class="actions">
          <div class="ui large green icon inverted button">
            <i class="cart icon"></i>
          </div>
          <div class="ui large yellow icon inverted button">
            <i class="star icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="four wide column">
      <div class="ui segment">
        <div class="ui fluid image">
        <a class="ui small grey ribbon label">$20.00</a>
        <img src='../src/img/binder.jpg'>
      </div>
        <div class="actions">
          <div class="ui large green icon inverted button">
            <i class="cart icon"></i>
          </div>
          <div class="ui large yellow icon inverted button">
            <i class="star icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="four wide column">
      <div class="ui segment">
        <div class="ui fluid image">
        <a class="ui small purple ribbon label">$20.00</a>
        <img src='../src/img/binder.jpg'>
      </div>
        <div class="actions">
          <div class="ui large green icon inverted button">
            <i class="cart icon"></i>
          </div>
          <div class="ui large yellow icon inverted button">
            <i class="star icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="four wide column">
      <div class="ui segment">
        <div class="ui fluid image">
        <a class="ui small pink ribbon label">$20.00</a>
        <img src='../src/img/binder.jpg'>
      </div>
        <div class="actions">
          <div class="ui large green icon inverted button">
            <i class="cart icon"></i>
          </div>
          <div class="ui large yellow icon inverted button">
            <i class="star icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="four wide column">
      <div class="ui segment">
        <div class="ui fluid image">
        <a class="ui small yellow ribbon label">$20.00</a>
        <img src='../src/img/binder.jpg'>
      </div>
        <div class="actions">
          <div class="ui large green icon inverted button">
            <i class="cart icon"></i>
          </div>
          <div class="ui large yellow icon inverted button">
            <i class="star icon"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="four wide column">
      <div class="ui segment">
        <div class="ui fluid image">
        <a class="ui small red ribbon label">$20.00</a>
        <img src='../src/img/binder.jpg'>
      </div>
        <div class="actions">
          <div class="ui large green icon inverted button">
            <i class="cart icon"></i>
          </div>
          <div class="ui large yellow icon inverted button">
            <i class="star icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
