 img{
  max-width:100%;
  max-height:100%;
  cursor:pointer;
  -webkit-transition: all 0.5s ease; /* Safari and Chrome */
   -moz-transition: all 1s ease; /* Firefox */
   -ms-transition: all 1s ease; /* IE 9 */
   -o-transition: all 1s ease; /* Opera */
   transition: all 0.5s ease;
}

#main img:hover{
  -webkit-transform:scale(1); /* Safari and Chrome */
 -moz-transform:scale(); /* Firefox */
 -ms-transform:scale(1); /* IE 9 */
 -o-transform:scale(1); /* Opera */
  transform:scale(1.05);
}

.ui.modal .ui.segment{
  background: none;
}
.ui.modal .ui.segment ul{
  list-style: none;
  text-align: center;
}
.ui.modal .ui.segment .actions{
  padding-top: 5%;
  text-align: center;
}
